.header__title {
  align-self: center;
  margin-left: 64px;
  z-index: 3;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}
