.khan__book-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 48px;
  justify-content: space-between;
  overflow: hidden;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 0;
}
